* {
	margin: 0;
	padding: 0;
}

html {
    background-color: black;
    width: 100%;
    height: 100%;
    text-align: center;
}

body {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 400;
    font-size: 4em;

}

.wrapper {
	display: table;
	height: 100%;
    width: 100%;
    margin: 0 auto;
}

.block {
    color: whitesmoke;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}