* {
	margin: 0;
	padding: 0;
}

html {
    background: url(Sprites/Backgrounds/Living_Room.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

body {
    height: 100%;
}

h1 {
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 700;
    font-size:max(0.5em, min(4vh, calc(100vw * 4 / 75)));
}

h2 {
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 400;
    font-size:max(0.5em, min(4vh, calc(100vw * 4 / 75)));
}

button {
    all: unset;
    display: block;
    color: whitesmoke;
    background: url(Sprites/UI/Question.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60vw;
    margin-bottom: 2vh;
    margin-left: 20vw;
    text-align: center;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /*transition: margin-left 0.2s linear, width 0.2s linear, height 0.2s linear;*/
}

button:hover {
    cursor: pointer;
    color: black;
    /*width: 70vw;
    height: 8vh;
    margin-left: 15vw;*/
    text-shadow: 1px 0 1px whitesmoke, 
    0 1px 1px whitesmoke, 
    -1px 0 1px whitesmoke, 
    0 -1px 1px whitesmoke;
    }

.water_mark {
    color: thistle;
    position: absolute;
    width: 100%;
    text-align: right;
}

.questions {
    position: relative;
    display:none;
    margin-top: 0vh;
    z-index: 100;
}

.wrapper {
	display: table;
	height: 100%;
    width: 100%;
    margin: 0 auto;
}

.main {
	display: table-row;
	height: 100%;
}

.character {
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.character_portret_false {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 4vh;
}

.character_portret_true {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 4vh;
    opacity: 0;
    z-index: -1;
}

.footer {
    position: relative;
    background: url(Sprites/UI/Footer.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    width: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 99999;
}

.name {
    border-bottom: 2px solid;
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    width: 20vw;
    margin-left: 15%;
    padding-bottom: 1vh;
    text-align: center;
}

.speech {
    color: whitesmoke;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2vh;
    min-height: 22vh;
    width: cover;
}